<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juan.proyecto_reque">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Pantallas.General.MainActivity"
            android:label="Cines 35mm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pantallas.General.RegisterActivity"
            android:label="Registration" />
        <activity
            android:name=".Pantallas.Cliente.ClienteActivity"
            android:label="Cliente" />
        <activity
            android:name=".Pantallas.Admin.AddPeliculaAdminActivity"
            android:label="Agregar Pelicula" />
        <activity
            android:name=".Pantallas.Cliente.DescpPeliculaActivity"
            android:label="Detalle Pelicula" />
        <activity
            android:name=".Pantallas.Admin.DescpPeliculaAdminActivity"
            android:label="Informacion Pelicula" />
        <activity
            android:name=".Pantallas.Admin.AdminActivity"
            android:label="Administrador" />
        <activity android:name=".Pantallas.Admin.EditPeliculaAdminActivity"
            android:label="Editar Pelicula"></activity>
    </application>

</manifest>